#mapon-wrapper {
    display: grid;
    grid-template-columns: 25% 75%;
    height: 100vh;
}
.mapon-wrapper_sidebar {
    background: #414651;
    padding: 20px;
}
.mapon-sidebar_wrapper h2 {
    font-family: "tahoma";
    font-size: 2em;
    font-weight: 800;
    color: #fff;
}
.mapon-sidebar_wrapper form input {
    color: white;
}
.mapon-sidebar_wrapper form input[type="submit"] {
    border: none;
    display: block;
    width: 80%;
    color: white;
    background: #0fd50f;
    font-weight: 800;
    margin: 10px auto;
    line-height: 35px;
    border-radius: 5px;
    cursor: pointer;
}
.mapon-sidebar_wrapper form input[type="submit"]:hover {
    background: #089708;
}

/*:::::::::  SECTION ERROR IN SIDEBAR  ::::::::*/
.mapon-sidebar_wrapper span {
    font-size: 1.5em;
    color: #ff3c00;
    }
    .mapon-sidebar_wrapper a {
    color: white;
    display: block;
    background: #c80a36;
    width: 50%;
    text-align: center;
    margin: 20px auto;
    line-height: 35px;
    border-radius: 5px;
    font-weight: 800;
    }
/*:::::::::  SECTION SEARCH AND FILTER DATA  ::::::::*/
    .mapon-sidebar_wrapper .wrapperWelcome {
        color: #13b913;
        font-size: 1.5em;
        margin: 0;
        padding: 0;
    }
    .mapon-sidebar_h3 {
        font-weight: 600;
        font-size: 1.8em;
        color: white;
        margin: 10px 0 50px;
        border-bottom: groove 1px #5e5e5e;
        padding-bottom: 10px;
        }
        #mapon-setLogout button {
            background: none;
            border: none;
            color: white;
            width: 100%;
        }

/*:::::::::  SECTION SESSION MAP  ::::::::*/
        #mapon-wrappermap_empy_section {
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        #mapon-emptyh2 {
            font-size: 2em;
            margin: 0;
        }
        #mapon-setMap {
            height: 100vh;
        }
        pre.mapon-sidebar_pre {
            color: white;
            font-size: 18px;
        }